In [55]:
#Python Crash course
# set,list comprehensions, map, lambda, filter, methods, tuple unpacking

In [2]:
num = 12
name = 'Sam'
'my number is {} and name is {}'.format(num,name)

'my number is 12 and name is Sam'

In [3]:
print('my number is {} and name is {}'.format(num,name))

my number is 12 and name is Sam

In [5]:
print('my number is {one} and name is {two}, more {one}'.format(one = num,two = name))

my number is 12 and name is Sam, more 12

In [6]:
{1,2,2,1,2,3,3,3,1,1,1,}

{1, 2, 3}

In [8]:
set([1,2,3,3,3,3,4])

{1, 2, 3, 4}

In [10]:
s = set([1,2,2,3,4])

In [11]:
s.add(5)

In [12]:
s

{1, 2, 3, 4, 5}

In [15]:
list(range(10)) # or list(range(1,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
x = [1,2,3,4]

out = []

for num in x:
    out.append(num**2)

In [17]:
print(out)

[1, 4, 9, 16]

In [18]:
[num ** 2 for num in x]

[1, 4, 9, 16]

In [22]:
def my_func(name = 'Default name'):
    print('Hello ' + name)

In [23]:
my_func()

Hello Default name

In [24]:
my_func('Sherin')

Hello Sherin

In [45]:
list(map(my_func,s))

Hello jiss
Hello kiss
Hello miss

[None, None, None]

In [30]:
s = ['jiss','kiss','miss']

In [35]:
def times2(var):
    return var*2

In [36]:
times2(3)

6

In [37]:
seq=[1,2,3,4,5]

In [44]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [42]:
del list

In [46]:
lambda var : var*2

In [47]:
t = lambda var : var*2

In [48]:
t(6)

12

In [49]:
list(map(lambda num : num*3, seq))

[3, 6, 9, 12, 15]

In [51]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [53]:
'x' in [1,2,3]

False

In [54]:
'x' in [1,2,3,'x']

True

In [56]:
x = [(1,2),(3,4),(5,6)]

In [57]:
for items in x:
    print(items)

(1, 2)
(3, 4)
(5, 6)

In [60]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [61]:
x[1]

(3, 4)

In [62]:
x[1][0]

3

In [63]:
7*7*7*7

2401

In [64]:
s="hello my name is sam"

In [65]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [69]:
s.upper()

'HELLO MY NAME IS SAM'

In [67]:
s.lower()

'hello my name is sam'

In [71]:
tweet = "hbvhj # ibib#bhb"

In [72]:
tweet.split('#')

['hbvhj ', ' ibib', 'bhb']

In [73]:
tweet.split('#')[1]

' ibib'

In [75]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

In [76]:

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [83]:
lst[3][1][2][0]

'hello'

In [84]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [89]:
d.keys()

dict_keys(['k1'])

In [90]:
d.values()

dict_values([[1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]])

In [92]:
d.items()

dict_items([('k1', [1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}])])

In [93]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [100]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [101]:
#list is mutable tuple is immutable

In [105]:
def getDomain(str):
    return str.split('@')[1]

In [106]:
getDomain('user@domain.com')

'domain.com'

In [123]:
def findDog(j):
    return 'dog' in j.lower().split()

In [126]:
findDog('Is there a dog here?')

True

In [128]:
'dog' in s.lower().split()

True

In [134]:
def countDog(st):
    count = 0
    for word in  st.lower().split():
        if word == 'dog':
            count +=1
    return count

In [135]:
countDog('This dog runs faster than the other dog dude!')

2

In [136]:
seq = ['soup','dog','salad','cat','great']

In [139]:
list(filter(lambda word: word[0] == 's',seq))

['soup', 'salad']

In [140]:
def caught_speeding(speed, is_birthday):
    if is_birthday == True:
        speeding = speed - 5
    else:
        speeding = speed
    if speeding > 80: 
        return 'Big ticket'
    elif speeding >60:
        return 'small ticket'
    else:
        return 'no ticket'

In [144]:
caught_speeding(85, False)

'Big ticket'