In [25]:
import numpy as np

In [26]:
#https://github.com/SuvroBaner/Python-for-Data-Science-and-Machine-Learning-Bootcamp/blob/master/3.%20Pandas/Pandas%20Exercises/SF%20Salaries%20Exercise-%20Solutions.ipynb

In [27]:
import pandas as pd

In [28]:
sal = pd.read_csv('Salaries.csv', low_memory = False)

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [30]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [31]:
sal['BasePay'].mean(skipna = True)

66325.44884050643

In [32]:
type(sal['BasePay'])

pandas.core.series.Series

In [33]:
#pd.to_numeric(sal['BasePay'], errors = 'coerce')

In [34]:
sal['OvertimePay'].max()

245131.88

In [37]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [38]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [41]:
sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

In [42]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [49]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

In [55]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [59]:
 sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [63]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [65]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [68]:
sal['JobTitle'].nunique()

2159

In [69]:
len(sal['JobTitle'].unique())

2159

In [70]:
sal['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
DEPUTY SEALER OF WEIGHTS AND MEASURES                    1
Chief Forensic Toxicologist                              1
IS Technician Assistant                                  1
DIRECTOR, INFORMATION TECHNOLOGY GROUP                   1
TRAFFIC HEARING OFFICER                                  1
Civil Case Settlmnt Specialist                           1
FORENSIC TOXICOLOGIST                                    1
SHELTER OFFICE SUPERVISOR                                1
ANIMAL CARE SUPERVISOR                                   1
SENIOR SUPERVISING PROBATION OFFICER, JUVENILE POU       1
DISABILITY ACCESS COORDINATOR                            1
Undersheriff (SFERS)                                     1
STATISTICIAN                                             1
PUBLIC DEFENDER                                          1
COURT AD RESOLUTION COORDINATOR                          1
IS TRAINER - SENIOR                                      1
SENIOR MAINTENANCE CONTROLLER                            1
Musm Exhibit Packer & Repairer                           1
ASSISTANT COURT REPORTER COORDINATOR                     1
MENTAL HEALTH HEARING OFFICER                            1
HEAD PHOTOGRAPHER                                        1
Light Rail Vehicle Equip Eng                             1
LABORATORY HELPER                                        1
FIELD SERVICES ASSISTANT SUPERVISOR                      1
Special Assistant 13                                     1
LIEUTENANT II (POLICE DEPARTMENT)                        1
PRINCIPAL MUSEUM PREPARATOR                              1
Court Supervisor I                                       1
CHIEF MICROBIOLOGIST                                     1
SPECIAL ASSISTANT XV                                     1
Name: JobTitle, Length: 2159, dtype: int64

In [71]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [77]:
sum(sal[sal['Year'] ==2013]['JobTitle'].value_counts() ==1)

202

In [80]:
sum(sal['JobTitle'].value_counts() ==1)

239

In [82]:
def cheif_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [83]:
sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [85]:
cheif_string('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [88]:
sum(sal['JobTitle'].apply(lambda x: cheif_string(x)))

477

In [93]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [94]:
sal[['JobTitle', 'title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [95]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000