In [25]:
import numpy as np

In [26]:
#https://github.com/SuvroBaner/Python-for-Data-Science-and-Machine-Learning-Bootcamp/blob/master/3.%20Pandas/Pandas%20Exercises/SF%20Salaries%20Exercise-%20Solutions.ipynb

In [27]:
import pandas as pd

In [28]:
sal = pd.read_csv('Salaries.csv', low_memory = False)

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [30]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [31]:
sal['BasePay'].mean(skipna = True)

66325.44884050643

In [32]:
type(sal['BasePay'])

pandas.core.series.Series

In [33]:
#pd.to_numeric(sal['BasePay'], errors = 'coerce')

In [34]:
sal['OvertimePay'].max()

245131.88

In [37]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [38]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [41]:
sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

In [42]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [49]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

In [55]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [59]:
 sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [63]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [65]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [68]:
sal['JobTitle'].nunique()

2159

In [69]:
len(sal['JobTitle'].unique())

2159

In [70]:
sal['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
DEPUTY SEALER OF WEIGHTS AND MEASURES                    1
Chief Forensic Toxicologist                              1
IS Technician Assistant                                  1
DIRECTOR, INFORMATION TECHNOLOGY GROUP                   1
TRAFFIC HEARING OFFICER                                  1
Civil Case Settlmnt Specialist                           1
FORENSIC TOXICOLOGIST                                    1
SHELTER OFFICE SUPERVISOR                                1
ANIMAL CARE SUPERVISOR                                   1
SENIOR SUPERVISING PROBATION OFFICER, JUVENILE POU       1
DISABILITY ACCESS COORDINATOR                            1
Undersheriff (SFERS)                                     1
STATISTICIAN                                             1
PUBLIC DEFENDER                                          1
COURT AD RESOLUTION COORDINATOR                          1
IS TRAINER - SENIOR                                      1
SENIOR MAINTENANCE CONTROLLER                            1
Musm Exhibit Packer & Repairer                           1
ASSISTANT COURT REPORTER COORDINATOR                     1
MENTAL HEALTH HEARING OFFICER                            1
HEAD PHOTOGRAPHER                                        1
Light Rail Vehicle Equip Eng                             1
LABORATORY HELPER                                        1
FIELD SERVICES ASSISTANT SUPERVISOR                      1
Special Assistant 13                                     1
LIEUTENANT II (POLICE DEPARTMENT)                        1
PRINCIPAL MUSEUM PREPARATOR                              1
Court Supervisor I                                       1
CHIEF MICROBIOLOGIST                                     1
SPECIAL ASSISTANT XV                                     1
Name: JobTitle, Length: 2159, dtype: int64

In [71]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [77]:
sum(sal[sal['Year'] ==2013]['JobTitle'].value_counts() ==1)

202

In [80]:
sum(sal['JobTitle'].value_counts() ==1)

239

In [82]:
def cheif_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [83]:
sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [85]:
cheif_string('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [88]:
sum(sal['JobTitle'].apply(lambda x: cheif_string(x)))

477

In [93]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [94]:
sal[['JobTitle', 'title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [95]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

In [96]:
import pandas as pd

In [131]:
ecom = pd.read_csv('Ecommerce Purchases.txt')

In [99]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [100]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [104]:
len(ecom.index)

10000

In [105]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [106]:
ecom['Purchase Price'].mean()

50.34730200000025

In [107]:
ecom['Purchase Price'].max()

99.99

In [108]:
ecom['Purchase Price'].min()

0.0

In [109]:
ecom.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [110]:
sum(ecom.Language == 'en')

1098

In [115]:
ecom[ecom['Language']=='en']['Language'].count()

1098

In [121]:
len(ecom[ecom['Job']=='Lawyer'].index)

30

In [122]:
ecom['AM or PM'].unique()

array(['PM', 'AM'], dtype=object)

In [123]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [124]:
ecom['Job'].value_counts() # autoatically sorts to desc

Interior and spatial designer                                  31
Lawyer                                                         30
Social researcher                                              28
Research officer, political party                              27
Designer, jewellery                                            27
Purchasing manager                                             27
Social worker                                                  26
Dietitian                                                      26
Designer, fashion/clothing                                     26
Special educational needs teacher                              26
Charity fundraiser                                             26
Sports therapist                                               25
Engineer, water                                                25
Network engineer                                               25
Secretary/administrator                                        25
Designer, interior/spatial                                     25
Radio broadcast assistant                                      25
Therapist, art                                                 25
Advice worker                                                  25
Psychologist, clinical                                         25
Geneticist, molecular                                          24
Armed forces technical officer                                 24
Television camera operator                                     24
Civil engineer, contracting                                    24
Scientist, clinical (histocompatibility and immunogenetics)    24
Hydrologist                                                    24
Wellsite geologist                                             24
Psychotherapist, dance movement                                24
Art therapist                                                  23
Financial controller                                           23
                                                               ..
Sales promotion account executive                               9
Marketing executive                                             9
Senior tax professional/tax inspector                           9
Forensic psychologist                                           9
Engineer, technical sales                                       9
Armed forces training and education officer                     9
Toxicologist                                                    9
Adult nurse                                                     9
Trade union research officer                                    9
Financial risk analyst                                          9
Administrator, local government                                 9
Investment banker, operational                                  9
Doctor, general practice                                        9
Surveyor, commercial/residential                                9
Art gallery manager                                             8
Child psychotherapist                                           8
Bookseller                                                      8
Nurse, learning disability                                      8
Technical brewer                                                8
Exhibitions officer, museum/gallery                             8
Audiological scientist                                          8
Diplomatic Services operational officer                         8
Music therapist                                                 7
Special effects artist                                          7
Stage manager                                                   7
Prison officer                                                  7
Editor, film/video                                              6
Actuary                                                         6
Investment analyst                                              5
Information systems manager                                     5
Name: Job, Length: 623, dtype: int64

In [125]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

In [127]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [128]:
ecom[ecom['Credit Card'] == 4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [138]:
ecom[(ecom['CC Provider'] == 'American Express' ) & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [139]:
len(ecom[(ecom['CC Provider'] == 'American Express' ) & (ecom['Purchase Price'] > 95)])

39

In [141]:
ecom['CC Exp Date'].iloc[0] # its a string

'02/20'

In [142]:
ecom['CC Exp Date'].iloc[0][3:]

'20'

In [147]:
sum(ecom['CC Exp Date'].apply(lambda exp:exp[3:] == '25'))

1033

In [153]:
ecom[ecom['CC Exp Date'].apply(lambda exp:exp[3:] == '25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [154]:
example_email = ecom['Email'].iloc[0]

In [159]:
example_email.split('@')[1]

'yahoo.com'

In [165]:
ecom['Email'].apply(lambda x : x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64